@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    background: url( images/white-paper-texture_1194-5998.avif );
    padding: 100px 0;
}

.container{
    width: 800px;
    min-height: 520px;
    border: 10px solid #fff;
    margin: 0 auto;
    background: #fff;
}

.header {
    display: flex;
    height: 150px;
    /* border:2px solid red; */
    

}
.title-block {
    position: relative;
    display: flex;
    width: 80%;
    /* border: 2px solid green;  */
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: rgba(0,0,0,0.3) url( images/arnold-francisca-f77Bh3inUpE-unsplash.jpg )
    no-repeat center center / cover ;
    color: #fff;
    margin-right: 10px;
}

.title {
    position: relative;
    z-index: 1;
    text-shadow: 4px 6px 4px black;
}

.title-block::after {
    content:'';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;

}

.userpic {
    display: flex;
    height: 100%;
    width: 20%;
    /* border: 2px solid blue; */
    background: url( images/61MCzy7ycSL._AC_UF1000\,1000_QL80_.jpg )
    no-repeat center center / cover;
}

.nav ul {
    display: flex;
    background: rgb(230, 230, 230);
    margin: 10px 0;
}

.nav li a {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color:#404040;
    font-weight: bold;
    border-right:1px solid #d1d1d1;
    transition: background .3s ease;
}


.nav li a:hover {
    background: rgb(196,196,196);
    
}


.content-wrapper {
    display:  flex;
}

.content{
    width: 70%;
    padding: 20px;
}

.content p {
    line-height: 27px;
}

.sidebar{
    padding:20px;
    width: 30%;
}

.info {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.skillsh3 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.skills li{
    padding: 10px 0;
    transition: transform .5s ease;
    cursor: pointer;
}

.skills li:hover {
    transform: translateX(10px);
}

